/* Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body, #tank-game {
  min-height: 100vh;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 3rem;
}

/* Game */
#tank-game {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  background: #222;
}
#🟦 { 
  --player-color: cornflowerblue;
  transform: rotateX(180deg); 
}
#🟥 { 
  --player-color: coral; 
}
.grid {
  background-color: white;
  flex: 1;
  color: var(--player-color, #222);

  display: grid;
  background: #222;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.1rem;
}
.cell {
  background-color: #fbffd7;
  display: grid;
  place-items: center;
}

/* Welcome Screen */
#welcome-screen {
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: all 500ms;
  z-index: 10;
  display: grid;
  place-items: center;
  opacity: 1;
  font-family: 'Vazir';
  background-color: #121212;
}
#welcome-screen.hidden {
  opacity: 0;
  height: 0%;
  width: 0%;
  font-size: 0.1rem;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: red;
  padding: 2rem 3rem;
  color: #121212;
  background-color: #eee;
  line-height: 2;
  border-radius: 1rem;
}
#start-btn {
  width: 100%;
  padding: 1.5rem 0;
  color: #121212;
  border: 2px solid #121212;
  background: transparent;
  border-radius: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 200ms;
}
#start-btn:hover {
  background: #121212;
  color: white;
}