@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700&display=swap");
:root {
  --color-dark: #222;
  --color-darker: #1a1a1a;
  --color-light: #ddd;
  --color-player-1: cornflowerblue;
  --color-player-2: coral;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Vazirmatn", sans-serif;
}
html,
body,
#tank-game {
  min-height: 100vh;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2.5rem;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}